.calendar-view {
    border-radius: 8px;
}
.container-detail {
    margin-left: 24px;
    margin-right: 24px;
}
.content-shift {
    padding: 24px;
}
.tg  {border-collapse:collapse;border-spacing:0; width: 100%}
.tg td{border-color:black;border-style:solid;border-width:1px;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit; text-align:left;vertical-align:top}
.shift-label {
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 12px;

}
.log-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #33333320;
    border-radius: 8px;
    padding: 12px;
    gap: 8px
}
.log-row {
    padding: 0;
}
